.parent{
    height: auto;
    width: auto;
    border-radius: 1%;
    background-color: aliceblue;
}

.navigue{
    margin-left: 23px;
}

.navigue a {
    margin: 0 52px;
    text-align: center;
    text-decoration: none;
    color: gray;
    margin-left: 90px;
}

.navigue a:hover{
    color: peru;
    text-decoration: underline;
}

.navigue .contact{
    color: peru;
    text-decoration: underline;
}

.enfant{
    height: 250px;
    width: auto;
    background-color:  antiquewhite;
    text-align: center;
}
.enfant h1{
    font-size: 55px;
    text-align: center;
    margin-bottom:  12px;
    
}
.enfant p{
    text-align: center;
    color: gray;
    line-height: 6px;
    padding-top: 6px 6px;
}

h2 {
    margin-left: 40px;
}

h3{
    margin-left: 40px;
}
.pi{
    margin-left: 100px;
    color: gray;
}

.fa-home{
    margin-right: 38px;
}
.pa{
    background-color: peru;
    font-size: 38px;
    width: 500px;
    text-align: center;
    margin-bottom: 34px;
}
label{
    color: gray;
    font-size: 20px;
    margin-top: 55px;
    margin-left: 34px;
}

input{
    padding: 5px;
    border: 5px solid grey;
    margin-bottom: 9px;
    margin-left: 34px;
    width: 450px;
}

.soume{
    padding: 5px;
    border: 5px solid grey;
    margin-bottom: 9px;
    margin-left: 34px;
    width: 470px;
    background-color: peru;
}
.fa-home{
    margin-right: 8px;
    color: peru;

}
.fa-envelope{
    margin-right: 8px;
    color: peru;
}
.fa-square-phone{
    margin-right: 8px;
    color: peru; 
}
.fa-map-marker-alt{
    margin-right: 8px;
    color: peru; 
}
.fa-square-whatsapp{
    margin-right: 8px;
    color: peru; 
}

.plateforme{
    background-color: peru;
    width: auto;
    height: 90px;
    
}

.plateforme h5{
    color: black;
    text-decoration: underline;
    text-align: center;
    font-size: 23px;
}

.plateforme a{
    text-align: center;
    text-decoration: none;
    padding-left: 35px;
    margin-left: 73px;

}

.fa-square-instagram{
    margin-right: 12px;
    color: black;
}
.fa-square-facebook{
    margin-right: 12px;
    color: black;
}
.fa-tiktok{
    margin-right: 12px;
    color: black;
}

.fa-github{
    margin-right: 12px;
    color: black;
}

.fa-linkedin{
    margin-right: 12px;
    color: black;
}

.fa-youtube{
    margin-right: 12px;
    color: black;
}